* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.box {
    width: 400px;
    margin: 0 auto;
    padding: 80px 20px;
}

@media screen and (min-width: 1440px) {
    .box {
        display: grid;
        grid-template-columns: 1fr 470px;
        width: 1180px;
    }
}

@media screen and (min-width: 1440px) {
    .form-container {
        margin-right: 40px;
    }
}

.form-container__title {
    display: block;
    margin: 0 0 12px 0;
    font-family: 'Avenir Next Cyr';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
}

@media screen and (min-width: 1440px) {
    .form-container__title {
        font-size: 32px;
        line-height: 44px;
    }
}

.form-container__text {
    margin: 0;
    font-style: normal;
    font-size: 16px;
    line-height: 28px;
}

.form-container__form {
    display: grid;
    margin: 0;
    margin-top: 35px;
    grid-row-gap: 35px;
}

@media screen and (min-width: 1440px) {
    .form-container__form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 32px;
    }

    .form-container__form--big {
        margin-bottom: 15px;
        grid-column: span 2;
        grid-row: span 2;
    }
}

.form-container__input {
    width: 100%;
    padding: 18px 20px;
    background: #FFFFFF;
    box-shadow: 0px 16px 32px rgba(202, 203, 210, 0.25);
    border: none;
    border-radius: 8px;
    font-size: 16px;
    line-height: 28px;
}

.form-container__input::placeholder {
    font-size: 16px;
    line-height: 28px;
    color: #414042;
    opacity: 0.5;
}

.form-container__select {
    width: 100%;
    padding: 18px 0;
    padding-left: 20px;
    background: #FFFFFF;
    box-shadow: 0px 16px 32px rgba(202, 203, 210, 0.25);
    border: none;
    border-radius: 8px;
    font-size: 16px;
    line-height: 28px;
}

.form-container__textarea {
    display: block;
    padding: 18px 20px 18px 20px;
    width: 100%;
    height: 338px;
    resize: none;
    background: #FFFFFF;
    box-shadow: 0px 16px 32px rgba(202, 203, 210, 0.25);
    border: none;
    border-radius: 8px;
    font-size: 16px;
    line-height: 28px;
}

.form-container__textarea::placeholder {
    font-size: 16px;
    line-height: 28px;
    color: #414042;
    opacity: 0.5;
}

.form-container__button {
    display: block;
    width: 360px;
    margin: 0 auto;
    padding: 16px 0;
    background: #1A1A1A;
    border: none;
    border-radius: 8px;

    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #FFFFFF;
}

@media screen and (min-width: 1440px) {
    .form-container__button {
        margin: 0;
        width: 220px;
    }
}

.map-container {
    height: 573px;
    margin: 60px 0;
    opacity: 0.5;
}

@media screen and (min-width: 1440px) {
    .map-container {
        height: 936px;
        margin: 0;
    }
}

.map-info {
    width: 240px;
}

.map-info__title {
    width: 200px;
    margin: 8px 0 0 0;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
}

.map-info__text {
    margin: 0;
    width: 140px;
    font-size: 12px;
    line-height: 20px;
}

.map-info__contacts {
    display: flex;
    align-items: center;
    margin: 0 0 8px 0;
    width: 140px;
    font-size: 12px;
    line-height: 20px;
    color: #858585;
    ;
}

.map-info__contacts::before {
    display: inline-block;
    content: '';
    width: 13px;
    height: 13px;
    margin-left: 8px;
    margin-right: 8px;
    background-image: url('../images/phone.svg');
    background-repeat: no-repeat;
}

.map-info__contacts--mail::before {
    background-image: url('../images/mail.svg');
}

.select {
    position: relative;
    width: 100%;
    padding: 18px 20px;
    background: #FFFFFF;
    box-shadow: 0px 16px 32px rgba(202, 203, 210, 0.25);
    border: none;
    border-radius: 8px;
    font-size: 16px;
    line-height: 28px;
}

.select__name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #414042;
    opacity: 0.5;
    cursor: pointer;
}

.select__list {
    position: absolute;
    padding: 0 20px 18px 20px;
    top: 90%;
    left: 0;
    right: 0;
    background: #FFFFFF;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 0px 30px 32px rgba(202, 203, 210, 0.25);
    z-index: 1;
}

.select__item {
    transition: 250ms;
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 28px;
    color: #424242;
    cursor: pointer;
}

.select__item:hover {
    background-color: #F2F2F2;
    margin-left: 12px;
}

.select__item:last-child {
    margin-bottom: 0;
}

.disable {
    display: none;
}

.select.is-visible .select__list {
    display: none;
}